#problem {
  // height: 100vh;
  background-image: url('https://i.pinimg.com/originals/07/a5/38/07a5382f6d64ffb2aec1f87df19c4db8.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .problem-title {
    margin-top: 0px;
    letter-spacing: 10px;
  }
  
  p, h1, h2 {
    font-weight: lighter;
  }

  hr {
    border: .25px solid black;
    // border-width: 1px; 
  }

  .left-panel, .right-panel {
    display: inline-block;
    height: 100%;
  }

  .left-panel {

    box-sizing: border-box;
    height: 99.5vh;
    overflow-y: auto;
    width: 50%;
    padding: 30px;

    .example {
      background-color: rgba(white, .95);
      border-radius: 2px;
      box-sizing: border-box;
      padding: 5px 20px;
    }
  }
  
  .right-panel {
    // background-color: blue;
    width: 50%;
    height: 100vh;
    float: right;
    box-sizing: border-box;
    padding: 30px;

    select {
      background: transparent;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 2px;
      border: 1px solid black;
      font-family: $body-font;
      outline: none;
      transition: .2s ease-in-out;
    }

    option:hover {
      background-color: $primary-color;
    }

    .editor-container {
      position: relative;

      .loading-icon {
        height: 75px;
        width: 75px;
        position: absolute;
        z-index: 99;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background: none;
      }
    }

    .overlay {
      transition: .2s ease-in-out;
      background-color: black;
      pointer-events: none;
    }
    
    .success {
      background-color: green;
      transition: .2s ease-in-out;
    }

    .fail {
      background-color: red;
      transition: .2s ease-in-out;
    }
  
    #ace-editor {
      background: rgba(white, .65);

      .ace_gutter {
        background: rgba($neutral-color, .1);
      }
    }

    button {
      background-color: transparent;
      border-width: 1px;
      border-color: transparent;
      background-color: rgba(white, .95);
      color: $primary-color;
      border-radius: 2px;
      transition: .2s ease-in-out;
      padding: 10px;
      outline: none;
      font-family: $body-font;
      float: right;
      margin-top: 20px;
    }
  
    button:hover { 
      background-color: $primary-color;
      color: white;
    }
  
  }


}