#problems {
  box-sizing: border-box;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;

  height: 100vh;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cc4c5131516629.565451f6bd878.png");
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Montserrat, sans-serif";

  .MuiPaper-root {
    background-color: rgba(white, 0.9);
  }

  .right-card {
    margin: 0px 15px;
  }

  .question {
    margin: 0px 15px;
    border-radius: 0px;

    .MuiCardContent-root {
      padding-bottom: 7px;
    }
  }

  .link {
    text-decoration: none;
    text-decoration-color: none;

    &:focus,
    &:hover,
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
    }
  }

  .right-panel {
    .separator {
      display: flex;
      align-items: center;
      text-align: center;
    }
    .separator::before,
    .separator::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid $secondary-color;
    }
    .separator::before {
      margin-right: 25px;
    }
    .separator::after {
      margin-left: 25px;
    }

    h1,
    h2 {
      text-align: center;
    }

    h1 {
      font-weight: lighter;
      color: $secondary-color;
      letter-spacing: 5px;
      font-family: $header-font;
      margin-bottom: 0px;
    }

    h2 {
      font-weight: normal;
      font-family: $body-font;
    }
  }

  table {
    width: 100%;
    font-family: $body-font;
    font-weight: lighter;

    td {
      padding: 10px;
    }

    tr:nth-child(odd) {
      background-color: rgba($neutral-color, 0.5);
    }

    tr:nth-child(1) {
      background-color: rgba($primary-color, 0.7);
    }
  }
}
