#problems {
  //   text-align: center;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // background: linear-gradient(#c3dee0, #e0fdff);
  //   background-image: url("../images/background.png");
  // background-image: url('https://i.pinimg.com/originals/07/a5/38/07a5382f6d64ffb2aec1f87df19c4db8.png');

  //   background-size: cover;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-attachment: fixed;
  height: 100vh;
  // background-color: $primary-color;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cc4c5131516629.565451f6bd878.png");
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Montserrat, sans-serif";

  .right-panel {

    .separator {
      display: flex;
      align-items: center;
      text-align: center;
    }
    .separator::before, .separator::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid $secondary-color;
    }
    .separator::before {
        margin-right: 25px;
    }
    .separator::after {
        margin-left: 25px;
    }
  
    h1, h2 {
      text-align: center;
    }

    h1 {
      font-weight: lighter;
      color: $secondary-color;
      letter-spacing: 5px;
      font-family: $header-font;
      margin-bottom: 0px;
    }

    h2 {
      font-weight: normal;
      font-family: $body-font;
    }
  }

  table {
    width: 100%;
    font-family: $body-font;
    font-weight: lighter;
    
    td {
      padding: 10px;
    }

    tr:nth-child(odd) {
      background-color: $neutral-color;
    }


    tr:nth-child(1) {
      background-color: $primary-color;
    }

  }

}
