#splash {
  text-align: center;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  // background: linear-gradient(#c3dee0, #e0fdff);
  background-image: url('../images/background.png');
  // background-image: url('https://i.pinimg.com/originals/07/a5/38/07a5382f6d64ffb2aec1f87df19c4db8.png');
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  h1 {
    font-weight: lighter;
    color: $secondary-color;
    letter-spacing: 10px;
  }

  button {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: $secondary-color;
    border-radius: 2px;
    transition: .2s ease-in-out;
    padding: 5px 10px;
    outline: none;
  }

  button:hover { 
    background-color: $primary-color;
    color: white;
    border-color: transparent;
  }

  .login-button {
    margin-top: 15px;
  }

  p {
    // font-family: $header-font;
  }

  .text-container {
    margin-top: -300px;
    background-color: rgba(white, .4);
    padding: 30px;
    border-radius: 2px;
    
  }

}