@import "_variables";
@import "_splash";
@import "_problem";

::selection {
  color: white;
  background: $primary-color;
}

::-webkit-scrollbar {
  width: 0px;
}
@import "_variables";
@import "_splash";
@import "_problems";
@import "_navbar";
